<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MJOS | Projects Form</title>
</head>
<body>
<h1> Well come on Projects </h1>
<form action="" method="get">
  <!-- Search Input -->
<input type="text" name="q" placeholder="Enter Project Name to Search">

<select name="project_category" id="project_category">
    <option value="">-- Select Category --</option>
    <option value="database">Database Development</option>
    <option value="fullstack">Full Stack Development</option>
    <option value="ai">AI Projects</option>
    <option value="tools">Tools</option>
</select>

    <button type="submit">Search</button>
</form>
{% for project in projects %}
        <P>{{ project.title }}</P>
        {% empty %}
        <p> <strong> Not found in Database </strong></p>
        {% endfor %}
</html>
